<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Mission Page</title>
</head>
<body>
<h1>Welcome to the Mission Creation Page!</h1>
<h2>Enter Mission Details Below!</h2>
<label for="missionName">Mission Name:</label>
<input type="text" id="missionName" name="missionName" th:field="${mission.title}">
<br>
<form action="/createNew" method="POST">
    <select name="agent" th:field="${mission.agent}">
        <option value="">Select an Agent</option>
        <th:block th:each="agent : ${agentNames}">
            <option th:value="${agent}" th:text="${agent}"></option>
        </th:block>
    </select>
    <br>
    <label for="gadget1">Gadget 1:</label>
    <input type="text" id="gadget1" name="gadget1" th:field="${mission.gadget1}">
    <br>
    <label for="gadget2">Gadget 2:</label>
    <input type="text" id="gadget2" name="gadget2" th:field="${mission.gadget2}">
    <br>
    <input type="submit" value="Submit">
</form>
<p>Please click here to <a href="/">go home!</a></p>
</body>
</html>

<!--<form action="#" th:action="@{/createNew}" method="POST" th:object="${mission}">
    <p>Mission Title: <input type="text" th:field="*{title}"></p>
    <p>Select Agent: <input type="text" th:field="*{agent}"></p>
    <h2> Enter Agent Gadgets Below!</h2>
    <p>Gadget 1: <input type="text" th:field="*{gadget1}"></p>
    <p>Gadget 2: <input type="text" th:field="*{gadget2}"></p>
    <input type="submit" value="Create Mission!">
</form> -->

