<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Missions</title>
</head>
<body>
<h1>Missions for Agent: <span th:text="${agentNames}"></span></h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Gadget 1</th>
        <th>Gadget 2</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mission : ${missions}">
        <td th:text="${mission.title}"></td>
        <td th:text="${mission.gadget1}"></td>
        <td th:text="${mission.gadget2}"></td>
        <td>
            <a th:href="@{/editMission/{id}(id=${mission.id})}">Edit</a>
            <a th:href="@{/deleteMission/{id}(id=${mission.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<p><a href="/">Go back to the home page</a></p>
</body>
</html>
